<html>
    <head>
        <title> 
            {% block title %}{% endblock %}
            {# con este codigo le decimos a django que el titulo va a cambiar en las hijas #}

        </title>
    </head>
    <body>
        {% include "barra.html" %}
        <h1 style="background-color: brown; color:cadetblue; text-align: center;">Web Increible de Django</h1>
        <h3>Otra cosa mas que va a estar </h3>
        {% block content %}{% endblock %}

        <p style="background-color: black; color: white; text-align: left;"></pstyle>Gracias por su visita</p>

    </body>
</html>